body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

.profile {
  text-align: center;
  margin-top: 100px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid white;
}

.social-icons img {
  width: 40px;
  margin: 10px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2);
}
